src/PL_FMD_LOAD_BRONZE.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{ \"Action\" : \"Start\" }",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "StartPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Bronze",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_START_AUDIT_PIPELINE",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{    \"Action\" : \"End\"    }",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "EndPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Bronze",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_END_AUDIT_PIPELINE",
        "dependsOn": [
          {
            "activity": "IF_RESULT_NOT_EMPTY",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[execution].[sp_GetBronzelayerEntity]",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LK_GET_ENTITIES_BRZ",
        "description": "Will run all the Entities for the Bronze Layer",
        "dependsOn": [
          {
            "activity": "SP_START_AUDIT_PIPELINE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(length(json(activity('LK_GET_ENTITIES_BRZ').output.value[0].NotebookParams)), 0)\n",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "bf2101e2-a101-b8df-43bf-5f6ba130a279",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "Path": {
                    "value": {
                      "value": "@activity('LK_GET_ENTITIES_BRZ').output.value[0].notebookParams",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerGuid": {
                    "value": {
                      "value": "@pipeline().TriggerId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerTime": {
                    "value": {
                      "value": "@pipeline().TriggerTime",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerType": {
                    "value": {
                      "value": "@pipeline().TriggerType",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                },
                "sessionTag": "fmd_framework"
              },
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "NB_FMD_PROCESSING_PARALLEL_MAIN",
              "dependsOn": []
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": {
                  "value": "[logging].[sp_AuditPipeline]",
                  "type": "Expression"
                },
                "storedProcedureParameters": {
                  "LogData": {
                    "value": {
                      "value": "{    \"Action\" : \"Error\",     \"Message\" : @{activity('NB_FMD_PROCESSING_PARALLEL_MAIN').error}}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "LogType": {
                    "value": "FailPipeline",
                    "type": "String"
                  },
                  "PipelineGuid": {
                    "value": {
                      "value": "@pipeline().Pipeline",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineName": {
                    "value": {
                      "value": "@pipeline().PipelineName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineParameters": {
                    "value": null,
                    "type": "String"
                  },
                  "PipelineParentRunGuid": {
                    "value": {
                      "value": "@pipeline()?.TriggeredByPipelineRunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineRunGuid": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerGuid": {
                    "value": {
                      "value": "@pipeline().TriggerId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerTime": {
                    "value": {
                      "value": "@pipeline().TriggerTime",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "TriggerType": {
                    "value": {
                      "value": "@pipeline().TriggerType",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "WorkspaceGuid": {
                    "value": {
                      "value": "@pipeline().DataFactory",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "EntityLayer": {
                    "value": "Bronze",
                    "type": "String"
                  },
                  "EntityId": {
                    "value": null,
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "SQL_FMD_FRAMEWORK",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
                    "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
                  },
                  "externalReferences": {
                    "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SP_FAIL_AUDIT_PIPELINE",
              "dependsOn": [
                {
                  "activity": "NB_FMD_PROCESSING_PARALLEL_MAIN",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "Fail",
              "typeProperties": {
                "message": {
                  "value": "@concat(activity('NB_FMD_PROCESSING_PARALLEL_MAIN').output.result.error.evalue,'--------------------------------', 'https://app.powerbi.com/',activity('NB_FMD_PROCESSING_PARALLEL_MAIN').output.SparkMonitoringURL, '?trident=1&tab=related','  ' )",
                  "type": "Expression"
                },
                "errorCode": "Notebooks failed"
              },
              "name": "FA_THROW_ERROR",
              "dependsOn": [
                {
                  "activity": "SP_FAIL_AUDIT_PIPELINE",
                  "dependencyConditions": [
                    "Completed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "IF_RESULT_NOT_EMPTY",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES_BRZ",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}