src/PL_FMD_LOAD_LANDINGZONE.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@activity('LK_GET_ENTITIES').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Switch",
              "typeProperties": {
                "on": {
                  "value": "@toUpper(item().ConnectionType)",
                  "type": "Expression"
                },
                "cases": [
                  {
                    "value": "SQL",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "ConnectionType": {
                              "value": "@toUpper(item().ConnectionType)",
                              "type": "Expression"
                            },
                            "Data_WorkspaceGuid": {
                              "value": "@pipeline().parameters.Data_WorkspaceGuid",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "pipelineId": "7a01c26c-394f-4659-b576-af5fdfa04feb",
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "6b2e33a1-b441-4137-b41d-260ffa8258cf"
                        },
                        "policy": {
                          "timeout": "0.06:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "PL_FMD_LDZ_COMMAND_ASQL",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "ADLS",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "ConnectionType": {
                              "value": "@toUpper(item().ConnectionType)",
                              "type": "Expression"
                            },
                            "Data_WorkspaceGuid": {
                              "value": "@pipeline().parameters.Data_WorkspaceGuid",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "pipelineId": "a0592780-6923-4199-b132-30f3996219be",
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "6b2e33a1-b441-4137-b41d-260ffa8258cf"
                        },
                        "policy": {
                          "timeout": "0.06:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "PL_FMD_LDZ_COMMAND_ADLS",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "ONELAKE",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "ConnectionType": {
                              "value": "@toUpper(item().ConnectionType)",
                              "type": "Expression"
                            },
                            "Data_WorkspaceGuid": {
                              "value": "@pipeline().parameters.Data_WorkspaceGuid",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "pipelineId": "c5aed96f-af63-44e8-969f-1ce91c6cce0f",
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "6b2e33a1-b441-4137-b41d-260ffa8258cf"
                        },
                        "policy": {
                          "timeout": "0.06:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "PL_FMD_LDZ_COMMAND_ONELAKE",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "ADF",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "ConnectionType": {
                              "value": "@toUpper(item().ConnectionType)",
                              "type": "Expression"
                            },
                            "Data_WorkspaceGuid": {
                              "value": "@pipeline().parameters.Data_WorkspaceGuid",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "pipelineId": "d346f49e-b2c2-4487-95c6-652aea095742",
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "6b2e33a1-b441-4137-b41d-260ffa8258cf"
                        },
                        "policy": {
                          "timeout": "0.06:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "PL_FMD_LDZ_COMMAND_ADF",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "SFTP",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "ConnectionType": {
                              "value": "@toUpper(item().ConnectionType)",
                              "type": "Expression"
                            },
                            "Data_WorkspaceGuid": {
                              "value": "@pipeline().parameters.Data_WorkspaceGuid",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "pipelineId": "1ae1151b-5176-4080-9748-45ec24dca0b4",
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "6b2e33a1-b441-4137-b41d-260ffa8258cf"
                        },
                        "policy": {
                          "timeout": "0.06:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "PL_FMD_LDZ_COMMAND_SFTP",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "FTP",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "ConnectionType": {
                              "value": "@toUpper(item().ConnectionType)",
                              "type": "Expression"
                            },
                            "Data_WorkspaceGuid": {
                              "value": "@pipeline().parameters.Data_WorkspaceGuid",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "pipelineId": "e31e3280-6d20-4dfb-9541-48b4313f5be6",
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "6b2e33a1-b441-4137-b41d-260ffa8258cf"
                        },
                        "policy": {
                          "timeout": "0.06:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "PL_FMD_LDZ_COMMAND_FTP",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "NOTEBOOK",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "ConnectionType": {
                              "value": "@toUpper(item().ConnectionType)",
                              "type": "Expression"
                            },
                            "Data_WorkspaceGuid": {
                              "value": "@pipeline().parameters.Data_WorkspaceGuid",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "pipelineId": "372d21ef-d793-4035-b318-5aa05568962b",
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "6b2e33a1-b441-4137-b41d-260ffa8258cf"
                        },
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "PL_FMD_LDZ_COMMAND_NOTEBOOK",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "ORACLE",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "ConnectionType": {
                              "value": "@toUpper(item().ConnectionType)",
                              "type": "Expression"
                            },
                            "Data_WorkspaceGuid": {
                              "value": "@pipeline().parameters.Data_WorkspaceGuid",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "pipelineId": "b8e4bd0c-e8aa-4d39-aa11-a788f60462db",
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "6b2e33a1-b441-4137-b41d-260ffa8258cf"
                        },
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "PL_FMD_LDZ_COMMAND_ORACLE",
                        "dependsOn": []
                      }
                    ]
                  }
                ],
                "defaultActivities": [
                  {
                    "type": "Fail",
                    "typeProperties": {
                      "message": {
                        "value": "Unkown Datasource Type: @{item().DataSourceType}",
                        "type": "Expression"
                      },
                      "errorCode": "50000"
                    },
                    "name": "FA_UNKNOWN_DATASOURCENAME",
                    "dependsOn": []
                  }
                ]
              },
              "name": "SW_CHECK_DATASOURCENAME",
              "dependsOn": []
            }
          ],
          "batchCount": 15
        },
        "name": "FE_ENTITY",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{ \"Action\" : \"Start\" }",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "StartPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Landingzone",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_START_AUDIT_PIPELINE",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{    \"Action\" : \"End\"}",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "EndPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Landingzone",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_END_AUDIT_PIPELINE",
        "dependsOn": [
          {
            "activity": "FE_ENTITY",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "SELECT distinct     [ConnectionType] FROM [execution].[vw_LoadSourceToLandingzone] where  WorkspaceGuid='@{pipeline().parameters.Data_WorkspaceGuid}'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "7375cd95_93c0_4b85_940e_692635efad1f",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LK_GET_ENTITIES",
        "dependsOn": [
          {
            "activity": "SP_START_AUDIT_PIPELINE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "Data_WorkspaceGuid": {
        "type": "string",
        "defaultValue": "0596d0e7-e036-451d-a967-41a284302e8d"
      }
    },
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}
