src/PL_FMD_LDZ_COPY_FROM_ADF.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "FE_ENTITY",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('LK_GET_ENTITIES').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "SP_START_AUDIT_PIPELINE_CP",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": {
                  "value": "[logging].[sp_AuditCopyActivity]",
                  "type": "Expression"
                },
                "storedProcedureParameters": {
                  "LogData": {
                    "value": {
                      "value": "{ \"Action\" : \"Start\" }",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "LogType": {
                    "value": "StartCopyAcitvity",
                    "type": "String"
                  },
                  "PipelineGuid": {
                    "value": {
                      "value": "@pipeline().Pipeline",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "CopyActivityName": {
                    "value": {
                      "value": "@pipeline().PipelineName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "CopyActivityParameters": {
                    "value": {
                      "value": "@item().SourceName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineParentRunGuid": {
                    "value": {
                      "value": "@pipeline()?.TriggeredByPipelineRunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineRunGuid": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerGuid": {
                    "value": {
                      "value": "@pipeline().TriggerId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerTime": {
                    "value": {
                      "value": "@pipeline().TriggerTime",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "TriggerType": {
                    "value": {
                      "value": "@pipeline().TriggerType",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "WorkspaceGuid": {
                    "value": {
                      "value": "@pipeline().DataFactory",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "EntityLayer": {
                    "value": "Landingzone",
                    "type": "String"
                  },
                  "EntityId": {
                    "value": null,
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "SQL_FMD_FRAMEWORK",
                "properties": {
                  "annotations": [],
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                    "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                  },
                  "externalReferences": {
                    "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                  }
                }
              }
            },
            {
              "name": "SP_END_AUDIT_PIPELINE_CP",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                {
                  "activity": "SP_UPDATE_PROCESS",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "SP_UPDATE_LASTLOADVALIE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": {
                  "value": "[logging].[sp_AuditCopyActivity]",
                  "type": "Expression"
                },
                "storedProcedureParameters": {
                  "LogData": {
                    "value": {
                      "value": "{    \"Action\" : \"End\",   \"CopyOutput\" :0,}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "LogType": {
                    "value": "EndCopyActivity",
                    "type": "String"
                  },
                  "PipelineGuid": {
                    "value": {
                      "value": "@pipeline().Pipeline",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "CopyActivityName": {
                    "value": {
                      "value": "@pipeline().PipelineName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "CopyActivityParameters": {
                    "value": {
                      "value": "@item().SourceName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineParentRunGuid": {
                    "value": {
                      "value": "@pipeline()?.TriggeredByPipelineRunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineRunGuid": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerGuid": {
                    "value": {
                      "value": "@pipeline().TriggerId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerTime": {
                    "value": {
                      "value": "@pipeline().TriggerTime",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "TriggerType": {
                    "value": {
                      "value": "@pipeline().TriggerType",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "WorkspaceGuid": {
                    "value": {
                      "value": "@pipeline().DataFactory",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "EntityLayer": {
                    "value": "Landingzone",
                    "type": "String"
                  },
                  "EntityId": {
                    "value": null,
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "SQL_FMD_FRAMEWORK",
                "properties": {
                  "annotations": [],
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                    "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                  },
                  "externalReferences": {
                    "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                  }
                }
              }
            },
            {
              "name": "SP_FAIL_AUDIT_PIPELINE_CP",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                {
                  "activity": "PL_INVOKE_ADF",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": {
                  "value": "[logging].[sp_AuditCopyActivity]",
                  "type": "Expression"
                },
                "storedProcedureParameters": {
                  "LogData": {
                    "value": {
                      "value": "{    \"Action\" : \"Error\",     \"Message\" : \"Output from ADF Invoked not supported Yet\"}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "LogType": {
                    "value": "FailedCopyActivity",
                    "type": "String"
                  },
                  "PipelineGuid": {
                    "value": {
                      "value": "@pipeline().Pipeline",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "CopyActivityName": {
                    "value": {
                      "value": "@pipeline().PipelineName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "CopyActivityParameters": {
                    "value": {
                      "value": "@item().SourceName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineParentRunGuid": {
                    "value": {
                      "value": "@pipeline()?.TriggeredByPipelineRunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineRunGuid": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerGuid": {
                    "value": {
                      "value": "@pipeline().TriggerId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerTime": {
                    "value": {
                      "value": "@pipeline().TriggerTime",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "TriggerType": {
                    "value": {
                      "value": "@pipeline().TriggerType",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "WorkspaceGuid": {
                    "value": {
                      "value": "@pipeline().DataFactory",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "EntityLayer": {
                    "value": "Landingzone",
                    "type": "String"
                  },
                  "EntityId": {
                    "value": null,
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "SQL_FMD_FRAMEWORK",
                "properties": {
                  "annotations": [],
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                    "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                  },
                  "externalReferences": {
                    "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                  }
                }
              }
            },
            {
              "name": "PL_INVOKE_ADF",
              "type": "InvokePipeline",
              "dependsOn": [
                {
                  "activity": "SP_START_AUDIT_PIPELINE_CP",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 1,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "waitOnCompletion": true,
                "operationType": "InvokeADFPipeline",
                "pipelineName": "PL_COPY_EXECUTE_FTP",
                "parameters": {
                  "key_vault_uri_name": {
                    "value": "@pipeline().libraryVariables.VAR_FMD_key_vault_uri_name",
                    "type": "Expression"
                  },
                  "TargetFilePath": {
                    "value": "@item().TargetFilePath",
                    "type": "Expression"
                  },
                  "TargetFileName": {
                    "value": "@item().TargetFileName",
                    "type": "Expression"
                  },
                  "SourceSchema": {
                    "value": "@item().SourceSchema",
                    "type": "Expression"
                  },
                  "SourceName": {
                    "value": "@item().SourceName",
                    "type": "Expression"
                  },
                  "TargetWorkspaceId": {
                    "value": "@item().WorkspaceGuid",
                    "type": "Expression"
                  },
                  "TargetLakehouseId": {
                    "value": "@item().TargetLakehouseGuid",
                    "type": "Expression"
                  }
                }
              },
              "externalReferences": {
                "connection": "02e107b8-e97e-4b00-a28c-668cf9ce3d9a"
              }
            },
            {
              "name": "SP_UPDATE_PROCESS",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                {
                  "activity": "PL_INVOKE_ADF",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": "[execution].[sp_UpsertPipelineLandingzoneEntity]",
                "storedProcedureParameters": {
                  "Filename": {
                    "value": {
                      "value": "@item().TargetFileName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "FilePath": {
                    "value": {
                      "value": "@item().TargetFilePath",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "IsProcessed": {
                    "value": "False",
                    "type": "Boolean"
                  },
                  "LandingzoneEntityId": {
                    "value": {
                      "value": "@item().EntityId",
                      "type": "Expression"
                    },
                    "type": "Int64"
                  }
                }
              },
              "connectionSettings": {
                "name": "SQL_FMD_FRAMEWORK",
                "properties": {
                  "annotations": [],
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                    "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                  },
                  "externalReferences": {
                    "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                  }
                }
              }
            },
            {
              "name": "SP_UPDATE_LASTLOADVALIE",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                {
                  "activity": "PL_INVOKE_ADF",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": "[execution].[sp_UpsertLandingZoneEntityLastLoadValue]",
                "storedProcedureParameters": {
                  "LandingzoneEntityId": {
                    "value": {
                      "value": "@item().EntityId",
                      "type": "Expression"
                    },
                    "type": "Int64"
                  },
                  "LastLoadValue": {
                    "value": {
                      "value": "@utcNow()",
                      "type": "Expression"
                    },
                    "type": "Datetime"
                  }
                }
              },
              "connectionSettings": {
                "name": "SQL_FMD_FRAMEWORK",
                "properties": {
                  "annotations": [],
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                    "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                  },
                  "externalReferences": {
                    "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "SP_START_AUDIT_PIPELINE",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{ \"Action\" : \"Start\" }",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "StartPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Landingzone",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            }
          }
        }
      },
      {
        "name": "SP_END_AUDIT_PIPELINE",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "FE_ENTITY",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{    \"Action\" : \"End\"}",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "EndPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Landingzone",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            }
          }
        }
      },
      {
        "name": "LK_GET_ENTITIES",
        "description": "Will run all the Entities with the Type ADF assigned in the integration.DataSource",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "SP_START_AUDIT_PIPELINE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "SELECT * FROM [execution].[vw_LoadSourceToLandingzone]  where DataSourceType='ADF'\nand WorkspaceGuid='@{pipeline().parameters.Data_WorkspaceGuid}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            }
          }
        }
      },
      {
        "name": "SP_FAIL_AUDIT_PIPELINE",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "FE_ENTITY",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{    \"Action\" : \"Failed\"}",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "FailedPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Landingzone",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            }
          }
        }
      }
    ],
    "parameters": {
      "Data_WorkspaceGuid": {
        "type": "string"
      }
    },
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}