src/PL_FMD_LDZ_COPY_FROM_ADF.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "FE_ENTITY",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('LK_GET_ENTITIES').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "PL_INVOKE_ADF",
              "type": "InvokePipeline",
              "dependsOn": [],
              "policy": {
                "timeout": "0.06:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "waitOnCompletion": true,
                "operationType": "InvokeADFPipeline",
                "pipelineName": "PL_COPY_EXECUTE_FTP",
                "parameters": {
                  "key_vault_uri_name": {
                    "value": "@pipeline().libraryVariables.VAR_FMD_key_vault_uri_name",
                    "type": "Expression"
                  },
                  "TargetFilePath": {
                    "value": "@item().TargetFilePath",
                    "type": "Expression"
                  },
                  "TargetFileName": {
                    "value": "@item().TargetFileName",
                    "type": "Expression"
                  },
                  "SourceSchema": {
                    "value": "@item().SourceSchema",
                    "type": "Expression"
                  },
                  "SourceName": {
                    "value": "@item().SourceName",
                    "type": "Expression"
                  },
                  "TargetWorkspaceId": {
                    "value": "@item().WorkspaceGuid",
                    "type": "Expression"
                  },
                  "TargetLakehouseId": {
                    "value": "@item().TargetLakehouseGuid",
                    "type": "Expression"
                  }
                }
              },
              "externalReferences": {
                "connection": "02e107b8-e97e-4b00-a28c-668cf9ce3d9a"
              }
            }
          ]
        }
      },
      {
        "name": "LK_GET_ENTITIES",
        "description": "Will run all the Entities with the Type ADF assigned in the integration.DataSource",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "SELECT * FROM [execution].[vw_LoadSourceToLandingzone]  where DataSourceType='ADF'\nand WorkspaceGuid='@{pipeline().parameters.Data_WorkspaceGuid}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            }
          }
        }
      }
    ],
    "parameters": {
      "Data_WorkspaceGuid": {
        "type": "string",
        "defaultValue": ""
      }
    },
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}
