src/PL_FMD_LDZ_COPY_FROM_FTP_01.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "SP_START_AUDIT_PIPELINE",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{ \"Action\" : \"Start\" }",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "StartPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Landingzone",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            }
          }
        }
      },
      {
        "name": "LK_GET_ENTITIES",
        "description": "Will run all the Entities with the Type FTP_01 assigned in the integration.DataSource",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "SP_START_AUDIT_PIPELINE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "SELECT *  FROM [execution].[vw_LoadSourceToLandingzone]  where DataSourceType='FTP_01'\nand WorkspaceGuid='@{pipeline().parameters.Data_WorkspaceGuid}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            }
          }
        }
      },
      {
        "name": "ForEach1",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('LK_GET_ENTITIES').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "If Condition1",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "Get MetaData from SINGLE file",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "expression": {
                  "value": "@if(empty(string(activity('Get MetaData from SINGLE file')?.output?.Exists)),\n        false,\n        activity('Get MetaData from SINGLE file')?.output?.Exists\n    )\n",
                  "type": "Expression"
                },
                "ifFalseActivities": [
                  {
                    "name": "SP_END_AUDIT_PIPELINE_NOFILE",
                    "type": "SqlServerStoredProcedure",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "0.0:10:00",
                      "retry": 2,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "storedProcedureName": {
                        "value": "[logging].[sp_AuditPipeline]",
                        "type": "Expression"
                      },
                      "storedProcedureParameters": {
                        "LogData": {
                          "value": {
                            "value": "{\n    \"Action\" : \"End\",\n    \"CopyOutput\" : \"No File\",\n    \n}",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "LogType": {
                          "value": "EndPipeline",
                          "type": "String"
                        },
                        "PipelineGuid": {
                          "value": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "PipelineName": {
                          "value": {
                            "value": "@pipeline().PipelineName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "PipelineParameters": {
                          "value": {
                            "value": "@item().SourceName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "PipelineParentRunGuid": {
                          "value": {
                            "value": "@pipeline()?.TriggeredByPipelineRunId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "PipelineRunGuid": {
                          "value": {
                            "value": "@pipeline().RunId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "TriggerGuid": {
                          "value": {
                            "value": "@pipeline().TriggerId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "TriggerTime": {
                          "value": {
                            "value": "@pipeline().TriggerTime",
                            "type": "Expression"
                          },
                          "type": "DateTime"
                        },
                        "TriggerType": {
                          "value": {
                            "value": "@pipeline().TriggerType",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "EntityLayer": {
                          "value": "Landingzone"
                        },
                        "EntityId": {
                          "value": {
                            "value": "@item().EntityId",
                            "type": "Expression"
                          }
                        },
                        "WorkspaceGuid": {
                          "value": {
                            "value": "@pipeline().DataFactory",
                            "type": "Expression"
                          }
                        }
                      }
                    },
                    "connectionSettings": {
                      "name": "SQL_FMD_FRAMEWORK",
                      "properties": {
                        "annotations": [],
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                          "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                        },
                        "externalReferences": {
                          "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                        }
                      }
                    }
                  }
                ],
                "ifTrueActivities": [
                  {
                    "name": "CP_source_datalandingzone",
                    "type": "Copy",
                    "dependsOn": [
                      {
                        "activity": "SP_START_AUDIT_PIPELINE_CP",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ],
                    "policy": {
                      "timeout": "0.01:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "source": {
                        "type": "BinarySource",
                        "storeSettings": {
                          "type": "FtpReadSettings",
                          "recursive": true,
                          "useBinaryTransfer": true,
                          "disableChunking": false
                        },
                        "formatSettings": {
                          "type": "BinaryReadSettings"
                        },
                        "datasetSettings": {
                          "annotations": [],
                          "type": "Binary",
                          "typeProperties": {
                            "location": {
                              "type": "FtpServerLocation",
                              "fileName": {
                                "value": "@item().SourceName",
                                "type": "Expression"
                              },
                              "folderPath": {
                                "value": "@item().SourceSchema",
                                "type": "Expression"
                              }
                            }
                          },
                          "externalReferences": {
                            "connection": "@item().ConnectionGuid"
                          }
                        }
                      },
                      "sink": {
                        "type": "BinarySink",
                        "storeSettings": {
                          "type": "LakehouseWriteSettings",
                          "copyBehavior": "PreserveHierarchy"
                        },
                        "datasetSettings": {
                          "annotations": [],
                          "linkedService": {
                            "name": "5234c723_9405_431c_9c3c_71a8c8f30965",
                            "properties": {
                              "annotations": [],
                              "type": "Lakehouse",
                              "typeProperties": {
                                "workspaceId": "@item().WorkspaceGuid",
                                "artifactId": "@item().TargetLakehouseGuid",
                                "rootFolder": "Files"
                              }
                            }
                          },
                          "type": "Binary",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "fileName": {
                                "value": "@item().TargetFileName",
                                "type": "Expression"
                              },
                              "folderPath": {
                                "value": "@item().TargetFilePath",
                                "type": "Expression"
                              }
                            }
                          }
                        }
                      },
                      "enableStaging": false
                    }
                  },
                  {
                    "name": "SP_END_AUDIT_PIPELINE_CP",
                    "type": "SqlServerStoredProcedure",
                    "dependsOn": [
                      {
                        "activity": "SP_UPDATE_PROCESS",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      },
                      {
                        "activity": "SP_UPDATE_LASTLOADVALIE",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ],
                    "policy": {
                      "timeout": "0.01:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "storedProcedureName": {
                        "value": "[logging].[sp_AuditPipeline]",
                        "type": "Expression"
                      },
                      "storedProcedureParameters": {
                        "LogData": {
                          "value": {
                            "value": "{    \"Action\" : \"End\",    \"CopyOutput\" : @{activity('CP_source_datalandingzone').output},    }",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "LogType": {
                          "value": "EndCopyActivity",
                          "type": "String"
                        },
                        "PipelineGuid": {
                          "value": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "CopyActivityName": {
                          "value": {
                            "value": "@pipeline().PipelineName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "CopyActivityParameters": {
                          "value": {
                            "value": "@item().SourceName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "PipelineParentRunGuid": {
                          "value": {
                            "value": "@pipeline()?.TriggeredByPipelineRunId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "PipelineRunGuid": {
                          "value": {
                            "value": "@pipeline().RunId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "TriggerGuid": {
                          "value": {
                            "value": "@pipeline().TriggerId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "TriggerTime": {
                          "value": {
                            "value": "@pipeline().TriggerTime",
                            "type": "Expression"
                          },
                          "type": "DateTime"
                        },
                        "TriggerType": {
                          "value": {
                            "value": "@pipeline().TriggerType",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "WorkspaceGuid": {
                          "value": {
                            "value": "@pipeline().DataFactory",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "EntityLayer": {
                          "value": "Landingzone",
                          "type": "String"
                        },
                        "EntityId": {
                          "value": {
                            "value": "@item().EntityId",
                            "type": "Expression"
                          },
                          "type": "Int32"
                        }
                      }
                    },
                    "connectionSettings": {
                      "name": "SQL_FMD_FRAMEWORK",
                      "properties": {
                        "annotations": [],
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                          "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                        },
                        "externalReferences": {
                          "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                        }
                      }
                    }
                  },
                  {
                    "name": "SP_FAIL_AUDIT_PIPELINE_CP",
                    "type": "SqlServerStoredProcedure",
                    "dependsOn": [
                      {
                        "activity": "CP_source_datalandingzone",
                        "dependencyConditions": [
                          "Failed"
                        ]
                      }
                    ],
                    "policy": {
                      "timeout": "0.01:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "storedProcedureName": {
                        "value": "[logging].[sp_AuditPipeline]",
                        "type": "Expression"
                      },
                      "storedProcedureParameters": {
                        "LogData": {
                          "value": {
                            "value": "{    \"Action\" : \"Error\",     \"Message\" : @{activity('CP_source_datalandingzone').error}}",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "LogType": {
                          "value": "FailedCopyActivity",
                          "type": "String"
                        },
                        "PipelineGuid": {
                          "value": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "CopyActivityName": {
                          "value": {
                            "value": "@pipeline().PipelineName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "CopyActivityParameters": {
                          "value": {
                            "value": "@item().SourceName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "PipelineParentRunGuid": {
                          "value": {
                            "value": "@pipeline()?.TriggeredByPipelineRunId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "PipelineRunGuid": {
                          "value": {
                            "value": "@pipeline().RunId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "TriggerGuid": {
                          "value": {
                            "value": "@pipeline().TriggerId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "TriggerTime": {
                          "value": {
                            "value": "@pipeline().TriggerTime",
                            "type": "Expression"
                          },
                          "type": "DateTime"
                        },
                        "TriggerType": {
                          "value": {
                            "value": "@pipeline().TriggerType",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "WorkspaceGuid": {
                          "value": {
                            "value": "@pipeline().DataFactory",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "EntityLayer": {
                          "value": "Landingzone",
                          "type": "String"
                        },
                        "EntityId": {
                          "value": {
                            "value": "@item().EntityId",
                            "type": "Expression"
                          },
                          "type": "Int32"
                        }
                      }
                    },
                    "connectionSettings": {
                      "name": "SQL_FMD_FRAMEWORK",
                      "properties": {
                        "annotations": [],
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                          "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                        },
                        "externalReferences": {
                          "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                        }
                      }
                    }
                  },
                  {
                    "name": "SP_UPDATE_PROCESS",
                    "type": "SqlServerStoredProcedure",
                    "dependsOn": [
                      {
                        "activity": "CP_source_datalandingzone",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ],
                    "policy": {
                      "timeout": "0.01:00:00",
                      "retry": 2,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "storedProcedureName": "[execution].[sp_UpsertPipelineLandingzoneEntity]",
                      "storedProcedureParameters": {
                        "Filename": {
                          "value": {
                            "value": "@item().TargetFileName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "FilePath": {
                          "value": {
                            "value": "@item().TargetFilePath",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "IsProcessed": {
                          "value": "False",
                          "type": "Boolean"
                        },
                        "LandingzoneEntityId": {
                          "value": {
                            "value": "@item().EntityId",
                            "type": "Expression"
                          },
                          "type": "Int64"
                        }
                      }
                    },
                    "connectionSettings": {
                      "name": "SQL_FMD_FRAMEWORK",
                      "properties": {
                        "annotations": [],
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                          "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                        },
                        "externalReferences": {
                          "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                        }
                      }
                    }
                  },
                  {
                    "name": "SP_UPDATE_LASTLOADVALIE",
                    "type": "SqlServerStoredProcedure",
                    "dependsOn": [
                      {
                        "activity": "CP_source_datalandingzone",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ],
                    "policy": {
                      "timeout": "0.01:00:00",
                      "retry": 2,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "storedProcedureName": "[execution].[sp_UpsertLandingZoneEntityLastLoadValue]",
                      "storedProcedureParameters": {
                        "LandingzoneEntityId": {
                          "value": {
                            "value": "@item().EntityId",
                            "type": "Expression"
                          },
                          "type": "Int64"
                        },
                        "LastLoadValue": {
                          "value": {
                            "value": "@utcNow()",
                            "type": "Expression"
                          },
                          "type": "String"
                        }
                      }
                    },
                    "connectionSettings": {
                      "name": "SQL_FMD_FRAMEWORK",
                      "properties": {
                        "annotations": [],
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                          "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                        },
                        "externalReferences": {
                          "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                        }
                      }
                    }
                  },
                  {
                    "name": "SP_START_AUDIT_PIPELINE_CP",
                    "type": "SqlServerStoredProcedure",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "0.01:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "storedProcedureName": {
                        "value": "[logging].[sp_AuditCopyActivity]",
                        "type": "Expression"
                      },
                      "storedProcedureParameters": {
                        "LogData": {
                          "value": {
                            "value": "{ \"Action\" : \"Start\" }",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "LogType": {
                          "value": "StartCopyActivity",
                          "type": "String"
                        },
                        "PipelineGuid": {
                          "value": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "CopyActivityName": {
                          "value": {
                            "value": "@pipeline().PipelineName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "CopyActivityParameters": {
                          "value": {
                            "value": "@item().SourceName",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "PipelineParentRunGuid": {
                          "value": {
                            "value": "@pipeline()?.TriggeredByPipelineRunId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "PipelineRunGuid": {
                          "value": {
                            "value": "@pipeline().RunId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "TriggerGuid": {
                          "value": {
                            "value": "@pipeline().TriggerId",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "TriggerTime": {
                          "value": {
                            "value": "@pipeline().TriggerTime",
                            "type": "Expression"
                          },
                          "type": "DateTime"
                        },
                        "TriggerType": {
                          "value": {
                            "value": "@pipeline().TriggerType",
                            "type": "Expression"
                          },
                          "type": "String"
                        },
                        "WorkspaceGuid": {
                          "value": {
                            "value": "@pipeline().DataFactory",
                            "type": "Expression"
                          },
                          "type": "Guid"
                        },
                        "EntityLayer": {
                          "value": "Landingzone",
                          "type": "String"
                        },
                        "EntityId": {
                          "value": {
                            "value": "@item().EntityId",
                            "type": "Expression"
                          },
                          "type": "Int32"
                        }
                      }
                    },
                    "connectionSettings": {
                      "name": "SQL_FMD_FRAMEWORK",
                      "properties": {
                        "annotations": [],
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                          "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                        },
                        "externalReferences": {
                          "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                        }
                      }
                    }
                  }
                ]
              }
            },
            {
              "name": "Get MetaData from SINGLE file",
              "type": "GetMetadata",
              "dependsOn": [],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "fieldList": [
                  "exists"
                ],
                "datasetSettings": {
                  "annotations": [],
                  "type": "Binary",
                  "typeProperties": {
                    "location": {
                      "type": "FtpServerLocation",
                      "fileName": {
                        "value": "@item().SourceName",
                        "type": "Expression"
                      },
                      "folderPath": {
                        "value": "@item().SourceSchema",
                        "type": "Expression"
                      }
                    }
                  },
                  "externalReferences": {
                    "connection": "@item().ConnectionGuid"
                  }
                },
                "storeSettings": {
                  "type": "FtpReadSettings",
                  "recursive": true,
                  "enablePartitionDiscovery": false,
                  "useBinaryTransfer": true,
                  "disableChunking": false
                },
                "formatSettings": {
                  "type": "BinaryReadSettings"
                }
              }
            }
          ]
        }
      },
      {
        "name": "SP_END_AUDIT_PIPELINE",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{    \"Action\" : \"End\"}",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "EndPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Landingzone",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            }
          }
        }
      },
      {
        "name": "SP_FAIL_AUDIT_PIPELINE",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{    \"Action\" : \"Failed\"}",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "FailedPipeline",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Landingzone",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
              "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
            },
            "externalReferences": {
              "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
            }
          }
        }
      }
    ],
    "parameters": {
      "Data_WorkspaceGuid": {
        "type": "string",
        "defaultValue": ""
      }
    },
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}