src/PL_TOOLING_POST_ASQL_TO_FMD.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "LKP_ENTITIES",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Copy metadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "LH_DATA_LANDINGZONE",
              "properties": {
                "annotations": [],
                "type": "Lakehouse",
                "typeProperties": {
                  "workspaceId": "40e27fdc-775a-4ee2-84d5-48893c92d7cc",
                  "artifactId": "4b4840bc-5a9f-434e-8345-3f528d1f39bf",
                  "rootFolder": "Files"
                }
              }
            },
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "fileName": {
                  "value": "@{pipeline().parameters.DatasourceName}.json",
                  "type": "Expression"
                },
                "folderPath": "metadata"
              },
              "columnDelimiter": ",",
              "escapeChar": "\\",
              "firstRowAsHeader": true,
              "quoteChar": "\""
            },
            "schema": []
          }
        }
      },
      {
        "name": "ForEach LZE",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "LKP_ENTITIES",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LKP_INSERT_DATASOURCE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@json(activity('LKP_ENTITIES').output.value[0]['metadata'])",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "LKP_INSERT_UPDATE_ENTITIE",
              "type": "Lookup",
              "dependsOn": [],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "sqlReaderStoredProcedureName": "[integration].[sp_UpsertLandingzoneBronzeSilver]",
                  "storedProcedureParameters": {
                    "CustomNotebookName": {
                      "type": "String",
                      "value": null
                    },
                    "DataSourceId": {
                      "type": "Int32",
                      "value": {
                        "value": "@activity('LKP_INSERT_DATASOURCE').output.firstRow.DataSourceId",
                        "type": "Expression"
                      }
                    },
                    "FileName": {
                      "type": "String",
                      "value": {
                        "value": "@concat(item().sourceSchema,'_',item().sourceName)",
                        "type": "Expression"
                      }
                    },
                    "FilePath": {
                      "type": "String",
                      "value": "fmd"
                    },
                    "FileType": {
                      "type": "String",
                      "value": "parquet"
                    },
                    "IsIncremental": {
                      "type": "Boolean",
                      "value": "False"
                    },
                    "IsIncrementalColumn": {
                      "type": "String",
                      "value": null
                    },
                    "PrimaryKeys": {
                      "type": "String",
                      "value": {
                        "value": "@item().PrimaryKeys",
                        "type": "Expression"
                      }
                    },
                    "SourceCustomSelect": {
                      "type": "String",
                      "value": null
                    },
                    "SourceName": {
                      "type": "String",
                      "value": {
                        "value": "@item().SourceName",
                        "type": "Expression"
                      }
                    },
                    "SourceSchema": {
                      "type": "String",
                      "value": {
                        "value": "@item().SourceSchema",
                        "type": "Expression"
                      }
                    },
                    "WorkspaceGuid": {
                      "type": "Guid",
                      "value": {
                        "value": "@pipeline().parameters.Data_WorkspaceGuid",
                        "type": "Expression"
                      }
                    }
                  },
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None"
                },
                "datasetSettings": {
                  "annotations": [],
                  "connectionSettings": {
                    "name": "eb9ebb48_2f31_44f4_998e_cac9d58ae96b",
                    "properties": {
                      "annotations": [],
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                        "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                      },
                      "externalReferences": {
                        "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                      }
                    }
                  },
                  "type": "FabricSqlDatabaseTable",
                  "schema": [],
                  "typeProperties": {}
                }
              }
            }
          ]
        }
      },
      {
        "name": "Copy metadata",
        "type": "Copy",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "\nDECLARE @Input NVARCHAR(MAX) = N'@{pipeline().parameters.Tables} '\nDECLARE @Targets TABLE (schema_object SYSNAME PRIMARY KEY);\n\nDECLARE @Clean NVARCHAR(MAX) = @Input;\n-- Normalize whitespace and remove quotes/parentheses\nSET @Clean = REPLACE(@Clean, CHAR(13), ' ');\nSET @Clean = REPLACE(@Clean, CHAR(10), ' ');\nSET @Clean = REPLACE(@Clean, '''', '');\nSET @Clean = REPLACE(@Clean, '(', '');\nSET @Clean = REPLACE(@Clean, ')', '');\n\nINSERT INTO @Targets(schema_object)\nSELECT DISTINCT\n       CASE\n         WHEN LEFT(LTRIM(RTRIM(value)), 3) = 'IN ' THEN SUBSTRING(LTRIM(RTRIM(value)), 4, 4000)\n         ELSE LTRIM(RTRIM(value))\n       END\nFROM STRING_SPLIT(@Clean, ',')\nWHERE LTRIM(RTRIM(value)) <> '';\n\n--------------------------------------------------------------------------------\n-- 2) Source set: both user tables (U) and views (V) matching @Targets\n--    Collation-safe string comparisons to avoid cross-collation errors.\n--------------------------------------------------------------------------------\nWITH src AS\n(\n    SELECT \n        o.object_id,\n        o.[type]                         AS object_type,  -- 'U' or 'V'\n        o.[name],\n        o.[schema_id],\n        sourceName   = o.[name],\n        sourceSchema = SCHEMA_NAME(o.[schema_id]),\n        isView       = CASE WHEN o.[type] = 'V' THEN 1 ELSE 0 END\n    FROM sys.objects AS o\n    JOIN sys.schemas AS s\n      ON s.schema_id = o.schema_id\n    WHERE o.[type] IN ('U','V')\n      AND CONCAT(\n            s.name COLLATE DATABASE_DEFAULT,\n            '.',\n            o.[name] COLLATE DATABASE_DEFAULT\n          )\n          IN (SELECT schema_object COLLATE DATABASE_DEFAULT FROM @Targets)\n),\n--------------------------------------------------------------------------------\n-- 3) singleBase: for each view in src, detect if it references exactly one base table\n--    Works best with schema-bound views; still generally reliable otherwise.\n--------------------------------------------------------------------------------\nsingleBase AS\n(\n    SELECT\n        d.referencing_id AS view_id,\n        MIN(o.object_id) AS base_table_id\n    FROM sys.sql_expression_dependencies AS d\n    JOIN sys.objects AS o\n      ON o.object_id = d.referenced_id\n     AND o.[type]    = 'U'                  -- base table only\n    WHERE d.referencing_id IN (SELECT object_id FROM src WHERE object_type = 'V')\n    GROUP BY d.referencing_id\n    HAVING COUNT(DISTINCT d.referenced_id) = 1\n),\n--------------------------------------------------------------------------------\n-- 4) Build JSON payload:\n--    - columnMappings (preserves your DataTypeOverride)\n--    - primaryKeys: table PK or (for single-table views) base table PK\n--      filtered to PK columns that appear in the view (matching by name).\n--    All name equalities are collated to DATABASE_DEFAULT.\n--------------------------------------------------------------------------------\nCTE (metadata) AS\n(\n    SELECT\n        sourceName,\n        sourceSchema,\n        isView,\n\n        columnMappings =\n        (\n            SELECT\n                SourceColumn = c.[name],\n                TargetColumn = c.[name],\n                DataTypeOverride =\n                    CASE c.system_type_id \n                        WHEN 127 THEN 0   -- bigint\n                        WHEN 104 THEN 1   -- bit\n                        WHEN 173 THEN 2   -- binary\n                        WHEN 165 THEN 2   -- varbinary\n                        WHEN 40  THEN 3   -- date\n                        WHEN 61  THEN 4   -- datetime\n                        WHEN 42  THEN 5   -- time\n                        WHEN 43  THEN 6   -- datetime2\n                        WHEN 106 THEN 8   -- decimal\n                        WHEN 108 THEN 8   -- numeric\n                        WHEN 62  THEN 10  -- float\n                        WHEN 59  THEN 10  -- real\n                        WHEN 56  THEN 12  -- int\n                        WHEN 58 THEN 17   -- smalldatetime\n                        WHEN 52 THEN 18   -- smallint\n                        WHEN 239 THEN 19  -- nchar\n                        WHEN 99  THEN 19  -- ntext\n                        WHEN 231 THEN 19  -- nvarchar\n                        WHEN 35  THEN 19  -- text\n                        WHEN 167 THEN 19  -- varchar\n                        WHEN 175 THEN 19  -- char\n                        WHEN 48  THEN 20  -- tinyint\n                        WHEN 240 THEN 5   -- sql_variant (kept as-is in your map)\n                    END\n            FROM sys.columns AS c\n            WHERE c.[object_id] = s.object_id\n            FOR JSON AUTO\n        ),\n\n        primaryKeys =\n        (\n            SELECT COALESCE(pk_table.pk_columns, pk_view.pk_columns)\n            FROM\n            (\n                -- Primary key for tables\n                SELECT TOP (1)\n                    STRING_AGG(c.[name], ',') WITHIN GROUP (ORDER BY ic.key_ordinal) AS pk_columns\n                FROM sys.indexes AS i\n                JOIN sys.index_columns AS ic\n                  ON ic.object_id = i.object_id\n                 AND ic.index_id  = i.index_id\n                JOIN sys.columns AS c\n                  ON c.object_id   = ic.object_id\n                 AND c.column_id   = ic.column_id\n                WHERE i.object_id      = s.object_id\n                  AND i.is_primary_key = 1\n                GROUP BY i.object_id\n            ) AS pk_table\n\n            FULL JOIN\n            (\n                -- Primary key for views with exactly one base table, limited\n                -- to PK columns that also exist in the view (same column names)\n                SELECT TOP (1)\n                    STRING_AGG(cb.[name], ',') WITHIN GROUP (ORDER BY ic.key_ordinal) AS pk_columns\n                FROM singleBase AS sb\n                JOIN sys.indexes AS i\n                  ON i.object_id      = sb.base_table_id\n                 AND i.is_primary_key = 1\n                JOIN sys.index_columns AS ic\n                  ON ic.object_id = i.object_id\n                 AND ic.index_id  = i.index_id\n                JOIN sys.columns AS cb              -- base table PK columns\n                  ON cb.object_id  = ic.object_id\n                 AND cb.column_id  = ic.column_id\n                JOIN sys.columns AS cv              -- must also appear in the view\n                  ON cv.object_id  = sb.view_id\n                 AND cv.[name] COLLATE DATABASE_DEFAULT\n                     = cb.[name] COLLATE DATABASE_DEFAULT\n                WHERE sb.view_id = s.object_id\n                GROUP BY sb.view_id\n            ) AS pk_view\n              ON 1 = 0  -- enables COALESCE on the two single-row sets\n        )\n    FROM src AS s\n    FOR JSON AUTO\n)\nSELECT metadata\nFROM CTE;\n",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None",
            "datasetSettings": {
              "annotations": [],
              "type": "AzureSqlTable",
              "schema": [],
              "typeProperties": {
                "database": {
                  "value": "@pipeline().parameters.DatasourceName",
                  "type": "Expression"
                }
              },
              "externalReferences": {
                "connection": "@pipeline().parameters.ConnectionGuid"
              }
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "fileExtension": ".txt",
              "quoteAllText": true
            },
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "LH_DATA_LANDINGZONE",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "40e27fdc-775a-4ee2-84d5-48893c92d7cc",
                    "artifactId": "4b4840bc-5a9f-434e-8345-3f528d1f39bf",
                    "rootFolder": "Files"
                  }
                }
              },
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": {
                    "value": "@{pipeline().parameters.DatasourceName}.json",
                    "type": "Expression"
                  },
                  "folderPath": "metadata"
                },
                "columnDelimiter": ",",
                "escapeChar": "\\",
                "firstRowAsHeader": true,
                "quoteChar": "\""
              },
              "schema": []
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "LKP DATASOURCE",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[integration].[sp_GetDataSource]",
            "storedProcedureParameters": {
              "Name": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.DatasourceName",
                  "type": "Expression"
                }
              }
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": true,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "0c38593c_1cbd_4053_a501_9b581bc62c81",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            }
          }
        }
      },
      {
        "name": "LKP_INSERT_DATASOURCE",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "LKP DATASOURCE",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LKP CONNECTION",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[integration].[sp_UpsertDataSource]",
            "storedProcedureParameters": {
              "Namespace": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.DatasourceNamespace",
                  "type": "Expression"
                }
              },
              "ConnectionId": {
                "type": "Int32",
                "value": {
                  "value": "@activity('LKP CONNECTION').output.firstRow.ConnectionId",
                  "type": "Expression"
                }
              },
              "DataSourceId": {
                "type": "Int32",
                "value": {
                  "value": "@activity('LKP DATASOURCE').output.firstRow.DataSourceId",
                  "type": "Expression"
                }
              },
              "Description": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.DatasourceName",
                  "type": "Expression"
                }
              },
              "IsActive": {
                "type": "Boolean",
                "value": "True"
              },
              "Name": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.DatasourceName",
                  "type": "Expression"
                }
              },
              "Type": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.DatasourceType",
                  "type": "Expression"
                }
              }
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "1dfd4157_b0a5_4f27_944e_99ce98820474",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            }
          }
        }
      },
      {
        "name": "LKP CONNECTION",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[integration].[sp_GetConnection]",
            "storedProcedureParameters": {
              "ConnectionGuid": {
                "type": "Guid",
                "value": {
                  "value": "@pipeline().parameters.ConnectionGuid",
                  "type": "Expression"
                }
              }
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": true,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "0180045e_a101_439f_9c36_f01ade60b9af",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            }
          }
        }
      }
    ],
    "parameters": {
      "ConnectionGuid": {
        "type": "string",
        "defaultValue": "cf673e6a-13f6-4ebb-9cbb-4ba4ab390818"
      },
      "Data_WorkspaceGuid": {
        "type": "string"
      },
      "DatasourceName": {
        "type": "string",
        "defaultValue": "WideWorldImporters"
      },
      "DatasourceNamespace": {
        "type": "string",
        "defaultValue": "wwi"
      },
      "DatasourceType": {
        "type": "string",
        "defaultValue": "ASQL_01"
      },
      "Tables": {
        "type": "string",
        "defaultValue": "(''Warehouse.StockItems'',''Warehouse.PackageTypes'',''Purchasing.PurchaseOrders'' ,''Purchasing.PurchaseOrderLines'' ,''Sales.vCustomers'',''Sales.CustomerCategories'',''Sales.Orders'' ,''Sales.OrderLines'' ,''Sales.Invoices'' ,''Sales.InvoiceLines'' ,''Sales.BuyingGroups'' ,''Sales.CustomerCategories'')"
      }
    },
    "variables": {
      "env": {
        "type": "String"
      },
      "workspace": {
        "type": "String"
      },
      "DataSourceName": {
        "type": "String",
        "defaultValue": "WideworldImporters"
      },
      "test": {
        "type": "Array"
      }
    },
    "libraryVariables": {
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}