src/PL_FMD_LOAD_SILVER.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[execution].[sp_GetSilverlayerEntity]",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToSilverLayer"
            },
            "schema": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LK_GET_ENTITIES_SLV",
        "description": "Will run all the Entities for the Silver Layer",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(length(json(activity('LK_GET_ENTITIES_SLV').output.value[0].NotebookParams)), 0)\n",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "cfb8ed97-eb04-469d-9994-91ab4114282a",
                "workspaceId": "c0366b24-e6f8-4994-b4df-b765ecb5bbf8",
                "parameters": {
                  "Path": {
                    "value": {
                      "value": "@activity('LK_GET_ENTITIES_SLV').output.value[0].notebookParams",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerGuid": {
                    "value": {
                      "value": "@pipeline().TriggerId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerTime": {
                    "value": {
                      "value": "@pipeline().TriggerTime",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerType": {
                    "value": {
                      "value": "@pipeline().TriggerType",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                },
                "sessionTag": "fmd_framework"
              },
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "NB_FMD_PROCESSING_PARALLEL_MAIN",
              "dependsOn": []
            },
            {
              "type": "Fail",
              "typeProperties": {
                "message": {
                  "value": "@concat(activity('NB_FMD_PROCESSING_PARALLEL_MAIN').output.result.error.evalue,'--------------------------------', 'https://app.powerbi.com/',activity('NB_FMD_PROCESSING_PARALLEL_MAIN').output.SparkMonitoringURL, '?trident=1&tab=related','  ' )",
                  "type": "Expression"
                },
                "errorCode": "Notebooks failed"
              },
              "name": "FA_THROW_ERROR",
              "dependsOn": [
                {
                  "activity": "NB_FMD_PROCESSING_PARALLEL_MAIN",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "IF_RESULT_NOT_EMPTY",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES_SLV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}
