src/PL_FMD_LDZ_COPY_FROM_CUSTOM_NB.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('LK_GET_ENTITIES').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "616adebc-258f-489e-9e3b-6ceeacdfc09d",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "EntityId": {
                    "value": {
                      "value": "@item().EntityId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "DataSourceName": {
                    "value": {
                      "value": "@item().DataSourceName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TargetFilePath": {
                    "value": {
                      "value": "@item().TargetFilePath",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TargetFileName": {
                    "value": {
                      "value": "@item().TargetFileName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TargetLakehouseGuid": {
                    "value": {
                      "value": "@item().TargetLakehouseGuid",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "WorkspaceGuid": {
                    "value": {
                      "value": "@item().WorkspaceGuid",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "LastLoadValue": {
                    "value": {
                      "value": "@item().LastLoadValue",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "CustomNotebookName": {
                    "value": {
                      "value": "@item().CustomNotebookName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerGuid": {
                    "value": {
                      "value": "@pipeline().TriggerId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerTime": {
                    "value": {
                      "value": "@pipeline().TriggerTime",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "TriggerType": {
                    "value": {
                      "value": "@pipeline().TriggerType",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                },
                "sessionTag": "FMD_Landingzone"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "NB_FMD_PROCESSING_LANDINGZONE_MAIN",
              "dependsOn": []
            }
          ]
        },
        "name": "FE_ENTITY",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "SELECT *  FROM [execution].[vw_LoadSourceToLandingzone]  where DataSourceType='NOTEBOOK'\nand WorkspaceGuid='@{pipeline().parameters.Data_WorkspaceGuid}'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            },
            "schema": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid",
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LK_GET_ENTITIES",
        "description": "Will run all the Entities with the Type NOTEBOOK assigned in the integration.DataSource",
        "dependsOn": []
      }
    ],
    "parameters": {
      "Data_WorkspaceGuid": {
        "type": "string",
        "defaultValue": ""
      }
    },
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}
