src/PL_FMD_LDZ_COPY_FROM_SFTP_01.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "LK_GET_ENTITIES",
        "description": "Will run all the Entities with the Type SFTP_01 assigned in the integration.DataSource",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "SELECT *  FROM [execution].[vw_LoadSourceToLandingzone]  where DataSourceType='SFTP_01' and WorkspaceGuid='@{pipeline().parameters.Data_WorkspaceGuid}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            }
          }
        }
      },
      {
        "name": "ForEach1",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('LK_GET_ENTITIES').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "If Condition1",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "Get MetaData from SINGLE file",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "expression": {
                  "value": "@if(empty(string(activity('Get MetaData from SINGLE file')?.output?.Exists)),\n        false,\n        activity('Get MetaData from SINGLE file')?.output?.Exists\n    )\n",
                  "type": "Expression"
                },
                "ifFalseActivities": [],
                "ifTrueActivities": [
                  {
                    "name": "CP_source_datalandingzone",
                    "type": "Copy",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "0.04:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "source": {
                        "type": "BinarySource",
                        "storeSettings": {
                          "type": "SftpReadSettings",
                          "recursive": true,
                          "disableChunking": false
                        },
                        "formatSettings": {
                          "type": "BinaryReadSettings"
                        },
                        "datasetSettings": {
                          "annotations": [],
                          "type": "Binary",
                          "typeProperties": {
                            "location": {
                              "type": "SftpLocation",
                              "fileName": {
                                "value": "@item().SourceName",
                                "type": "Expression"
                              },
                              "folderPath": {
                                "value": "@item().SourceSchema",
                                "type": "Expression"
                              }
                            }
                          },
                          "externalReferences": {
                            "connection": "@item().ConnectionGuid"
                          }
                        }
                      },
                      "sink": {
                        "type": "BinarySink",
                        "storeSettings": {
                          "type": "LakehouseWriteSettings",
                          "copyBehavior": "PreserveHierarchy"
                        },
                        "datasetSettings": {
                          "annotations": [],
                          "linkedService": {
                            "name": "5f17464a_f364_47dd_b7f9_7bcd4cda1a16",
                            "properties": {
                              "annotations": [],
                              "type": "Lakehouse",
                              "typeProperties": {
                                "workspaceId": "@item().WorkspaceGuid",
                                "artifactId": "@item().TargetLakehouseGuid",
                                "rootFolder": "Files"
                              }
                            }
                          },
                          "type": "Binary",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "fileName": {
                                "value": "@item().TargetFileName",
                                "type": "Expression"
                              },
                              "folderPath": {
                                "value": "@item().TargetFilePath",
                                "type": "Expression"
                              }
                            }
                          }
                        }
                      },
                      "enableStaging": false
                    }
                  }
                ]
              }
            },
            {
              "name": "Get MetaData from SINGLE file",
              "type": "GetMetadata",
              "dependsOn": [],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "fieldList": [
                  "exists"
                ],
                "datasetSettings": {
                  "annotations": [],
                  "type": "Binary",
                  "typeProperties": {
                    "location": {
                      "type": "SftpLocation",
                      "fileName": {
                        "value": "@item().SourceName",
                        "type": "Expression"
                      },
                      "folderPath": {
                        "value": "@item().SourceSchema",
                        "type": "Expression"
                      }
                    }
                  },
                  "externalReferences": {
                    "connection": "@item().ConnectionGuid"
                  }
                },
                "storeSettings": {
                  "type": "SftpReadSettings",
                  "recursive": true,
                  "enablePartitionDiscovery": false,
                  "disableChunking": false
                },
                "formatSettings": {
                  "type": "BinaryReadSettings"
                }
              }
            }
          ]
        }
      }
    ],
    "parameters": {
      "Data_WorkspaceGuid": {
        "type": "string",
        "defaultValue": ""
      }
    },
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}
