src/PL_FMD_LDZ_COPY_FROM_ORACLE_01.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "FE_ENTITY",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('LK_GET_ENTITIES').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "CP_source_datalandingzone",
              "type": "Copy",
              "dependsOn": [
                {
                  "activity": "LK_GET_LASTLOADDATE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.04:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "OracleSource",
                  "oracleReaderQuery": {
                    "value": "\n@{if(\n    and(equals(Item().IsIncremental, 1), not(empty(Item().IsIncrementalColumn))),\n    concat(\n        ' WHERE ',\n        Item().IsIncrementalColumn,\n        ' >= ',\n        concat(\n            '''',\n            if(\n                equals(Item().LastLoadValue, ''),\n                '1900-01-01',\n                Item().LastLoadValue\n            ),\n            ''''\n        )\n    ),\n    ''\n)}\n",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "numberPrecision": 38,
                  "numberScale": 18,
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "annotations": [],
                    "type": "OracleTable",
                    "schema": [],
                    "typeProperties": {},
                    "externalReferences": {
                      "connection": "@item().ConnectionGuid"
                    }
                  }
                },
                "sink": {
                  "type": "ParquetSink",
                  "storeSettings": {
                    "type": "LakehouseWriteSettings",
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "type": "ParquetWriteSettings",
                    "enableVertiParquet": false
                  },
                  "datasetSettings": {
                    "annotations": [],
                    "linkedService": {
                      "name": "a88342ed_76e7_4d30_91df_9cef8d113d8e",
                      "properties": {
                        "annotations": [],
                        "type": "Lakehouse",
                        "typeProperties": {
                          "workspaceId": "@item().WorkspaceGuid",
                          "artifactId": "@item().TargetLakehouseGuid",
                          "rootFolder": "Files"
                        }
                      }
                    },
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "fileName": {
                          "value": "@item().TargetFileName",
                          "type": "Expression"
                        },
                        "folderPath": {
                          "value": "@item().TargetFilePath",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": []
                  }
                },
                "enableStaging": false,
                "validateDataConsistency": true,
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                }
              }
            },
            {
              "name": "LK_GET_LASTLOADDATE",
              "type": "Lookup",
              "dependsOn": [
                {
                  "activity": "LK_GET_COLUMNNAMES",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "OracleSource",
                  "oracleReaderQuery": {
                    "value": "SELECT \nCASE \nWHEN \n@{if(Item().IsIncremental, 1, 0)} = 1 THEN TO_CHAR(MAX(\n    @{if(empty(Item()?.IsIncrementalColumn), '1', Item().IsIncrementalColumn)}), 'YYYY-MM-DD HH24:MI:SS') \n    ELSE TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS') \n    END AS LastLoadValue \nFROM \"@{Item().SourceSchema}\".\"@{Item().SourceName}\"",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "numberPrecision": 38,
                  "numberScale": 18,
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "annotations": [],
                  "type": "OracleTable",
                  "schema": [],
                  "typeProperties": {},
                  "externalReferences": {
                    "connection": "@item().ConnectionGuid"
                  }
                }
              }
            },
            {
              "name": "LK_GET_COLUMNNAMES",
              "type": "Lookup",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "OracleSource",
                  "oracleReaderQuery": {
                    "value": "SELECT REPLACE(\n  'SELECT ' || RTRIM(XMLAGG(XMLELEMENT(e,\n    CASE\n      WHEN data_type IN ('NUMBER')\n      AND data_precision IS NOT NULL\n      AND data_scale > 16\n        THEN 'CAST(\"' || column_name || '\" AS NUMBER(' || data_precision || ',' || 16 || ')) AS \"' || column_name || '\"'\n      WHEN data_type IN ('NUMBER')\n      AND data_precision IS NOT NULL\n      and data_scale <= 16\n        THEN 'CAST(\"' || column_name || '\" AS NUMBER(' || data_precision || ',' || data_scale || ')) AS \"' || column_name || '\"'\n      WHEN data_type in ('NUMBER')\n        THEN 'CAST(\"' || column_name || '\" AS NUMBER(36,0)) AS \"' || column_name || '\"'\n      WHEN data_type IN ('DECIMAL', 'FLOAT')\n        THEN 'CAST(\"' || column_name || '\" AS DECIMAL(38,16)) AS \"' || column_name || '\"'\n      WHEN data_type IN ('SDO_GEOMETRY')\n        THEN '(SDO_UTIL.TO_GEOJSON(\"' || column_name || '\")) AS \"' || column_name || '\"'\n      WHEN data_type IN ('DATE')\n        THEN 'CAST(\"' || column_name || '\" AS TIMESTAMP) AS \"' || column_name || '\"'\n      ELSE '\"' || column_name || '\"'\n    END || ', ').EXTRACT('//text()') ORDER BY column_id).GETCLOBVAL(), ', ') || \n  ' FROM \"' || owner || '\".\"' || table_name || '\"', '&quot;', '\"') AS QUERY\nFROM all_tab_columns\nWHERE owner = UPPER('@item().SourceSchema}')\n  AND table_name = UPPER('@item().SourceName}')\nGROUP BY owner, table_name",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "numberPrecision": 38,
                  "numberScale": 18,
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "annotations": [],
                  "type": "OracleTable",
                  "schema": [],
                  "typeProperties": {},
                  "externalReferences": {
                    "connection": "@item().ConnectionGuid"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "LK_GET_ENTITIES",
        "description": "Will run all the Entities with the Type ASQL_01 assigned in the integration.DataSource",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "SELECT *  FROM [execution].[vw_LoadSourceToLandingzone]  where DataSourceType='ORACLE_01'\nand WorkspaceGuid='@{pipeline().parameters.Data_WorkspaceGuid}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_workspace_guid",
                  "artifactId": "@pipeline().libraryVariables.VAR_CONFIG_FMD_fmd_config_database_guid"
                },
                "externalReferences": {
                  "connection": "0f86f6a1-9f84-44d1-b977-105b5179c678"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {
              "schema": "execution",
              "table": "vw_LoadToBronzeLayer"
            }
          }
        }
      }
    ],
    "parameters": {
      "Data_WorkspaceGuid": {
        "type": "string",
        "defaultValue": ""
      }
    },
    "libraryVariables": {
      "VAR_FMD_key_vault_uri_name": {
        "type": "String",
        "variableName": "key_vault_uri_name",
        "libraryName": "VAR_FMD"
      },
      "VAR_FMD_lakehouse_schema_enabled": {
        "type": "Bool",
        "variableName": "lakehouse_schema_enabled",
        "libraryName": "VAR_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_database_guid": {
        "type": "String",
        "variableName": "fmd_config_database_guid",
        "libraryName": "VAR_CONFIG_FMD"
      },
      "VAR_CONFIG_FMD_fmd_config_workspace_guid": {
        "type": "String",
        "variableName": "fmd_config_workspace_guid",
        "libraryName": "VAR_CONFIG_FMD"
      }
    }
  }
}
